# =========================
# Python cache & bytecode
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.env
.env.*

# =========================
# Documentation artifacts
# =========================
*.pdf

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
